<!DOCTYPE html>
<html>
	<head>
        <meta name="author" content="David Ruiz Garcia">
		<meta name="description" content="Desarrollo web">
        <meta charset="utf-8">
      	<link rel="stylesheet" href="../estilo.css">
		<title>
			David Ruiz Garcia.
		</title>
	</head>
<body>
	<header>
		<a href='../index.html'>My Blog</a><br>
	</header>
	<br>
	<section>
		<article>
			<blog>
		</article>
	</section>
	<footer>
		<br><br>
		David Ruiz Garcia<br>
		Ing. en Computación 702-A
	</footer>
</body>
</html>
